PROJECT_NAME=MMMM
# Environment: dev, prod
ENVIRONMENT=
SENTRY_DSN=
# API prefix for all routes (default: /api)
API_PREFIX=
# Format: http://a.com,http://b.com
BACKEND_CORS_ORIGINS=
FRONTEND_HOST=http://localhost:3000
