PROJECT_NAME=MMMM
# Environment: dev, prod
ENVIRONMENT=dev

API_PREFIX=/api

# Backend
BACKEND_CORS_ORIGINS=http://a.com,http://b.com
FIRST_SUPERUSER=
FIRST_SUPERUSER_PASSWORD=

# Postgres
# POSTGRES_HOST:
# - Use "localhost" if you are running Python/Alembic directly on your host machine.
# - Use "db" (the service name) if you are running the app via Docker Compose.
# Note: The docker-compose.yml can override this value automatically.
POSTGRES_HOST=db
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_URL=

# Gemini
GEMINI_API_KEY=

# Zalo
ZALO_APP_ID=
ZALO_APP_SECRET=
ZALO_OA_TOEKN=

# Log
SENTRY_DSN=
